page-home {

    h3.no-item{
        color:map-get($colors,"font");
        background-color: map-get($colors,"background");
    }

        
    h2.welcome{
        color: map-get($colors,"font");
        background-color:map-get($colors,"background");
    }

        
    


}
